body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
body{
    background: url(background_uimage.jpg);
    background-size: 100%;
    background-position-y: -175px;
    /* width: 100.3%;
    height: 463px; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 2.5); */
    width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    width: 300px;
    background: linear-gradient(45deg, #f5bbbb, transparent);
}

form {
    /* background-color: #fff; */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

#sign {
    background-color: #fc3131;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#sign:hover {
    background-color: rgb(72, 69, 160);
    color: white;
}
#sign a{
    text-decoration: none;
    color: white;
}
#sign a:hover{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
#new a{
    text-decoration: none;
    background-color: #fc3131;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#new a:hover {
    background-color: rgb(72, 69, 160);
    color: white;
    font-weight: bold;
}
#new a{
    text-decoration: none;
    color: white;
}